<h1>Long Reach Marlins, Inc.</h1>

<h2>About Us</h2>
<p>
  Long Reach Marlins, Inc. is a nonprofit organization that supports the Long
  Reach Marlins ("Marlins") swim team. The Marlins, based at
  <a
    href="https://columbiaassociation.org/sports-recreation/pools/pool-locations/kendall-ridge-kr-pool/"
    target="_blank"
    >Kendall Ridge Pool</a
  >, are one of several swim teams that participate in the summer
  <a href="https://www.gomotionapp.com/team/reccnsl/page/home" target="_blank"
    >Columbia Neighborhood Swim League (CNSL)</a
  >, operated by
  <a href="https://columbiaassociation.org/" target="_blank"
    >Columbia Association (CA)</a
  >. Long Reach Marlins, Inc. is not affiliated with CA or CNSL and does not
  manage or operate the swim team.
</p>

<h2>Mission</h2>
<p>
  The Long Reach Marlins, Inc. provides support in the form of events,
  organization, teambuilding, fundraising, and volunteer labor to promote the
  sport of competitive youth swimming to help swimmers grow in the sport, to
  learn life skills, promote and strengthen a sense of friendship, comradery and
  community, and to encourage swimming as a lifetime activity.
</p>

<h2>Join</h2>
<p>
  If you are interested in joining the swim team, please navigate to the
  <a href="https://swim.longreachmarlins.org" target="_blank"
    >Marlins swim team</a
  >
  page.
</p>
<p>
  If you would like to support the Marlins swim team, please contact us at
  <a href="mailto:admin@longreachmarlins.org">admin@longreachmarlins.org</a>.
</p>
